In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as plticker

dataset = pd.read_csv('covid19_italy_region.csv')
type(dataset)

pandas.core.frame.DataFrame

In [7]:
dataset.head(5)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN

In [20]:
dataset.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SNo                        6027 non-null   int64
 1   Date                       6027 non-null   object
 2   Country                    6027 non-null   object
 3   RegionCode                 6027 non-null   int64
 4   RegionName                 6027 non-null   object
 5   Latitude                   6027 non-null   float64
 6   Longitude                  6027 non-null   float64
 7   HospitalizedPatients       6027 non-null   int64
 8   IntensiveCarePatients      6027 non-null   int64
 9   TotalHospitalizedPatients  6027 non-null   int64
 10  HomeConfinement            6027 non-null   int64
 11  CurrentPositiveCases       6027 non-null   int64
 12  NewPositiveCases           6027 non-null   int64
 13  Recovered                  6027 non-null   int64
 14  Deaths                     6027 non-null   int64
 15  TotalPositiveCases         6027 non-null   int64
 16  TestsPerformed             4872 non-null   float64
dtypes: float64(3), int64(11), object(3)
memory usage: 800.6+ KB

In [6]:
dataset.value_counts(dataset['RegionName'])
dataset.value_counts(dataset['Country'])
dataset.value_counts(dataset['RegionCode'])

RegionName
Abruzzo                  287
P.A. Bolzano             287
Valle d'Aosta            287
Umbria                   287
Toscana                  287
Sicilia                  287
Sardegna                 287
Puglia                   287
Piemonte                 287
P.A. Trento              287
Molise                   287
Basilicata               287
Marche                   287
Lombardia                287
Liguria                  287
Lazio                    287
Friuli Venezia Giulia    287
Emilia-Romagna           287
Campania                 287
Calabria                 287
Veneto                   287
Name: count, dtype: int64

In [27]:
dataset['TestsPerformed'].describe()
dataset['TestsPerformed'].describe()
dataset['Deaths'].describe()
dataset['Recovered'].describe()

count      6027.000000
mean       9337.852829
std       20551.265039
min           0.000000
25%         734.000000
50%        2840.000000
75%        8450.500000
max      289706.000000
Name: Recovered, dtype: float64

In [23]:
print("총 감염자 수", dataset['TotalPositiveCases'].sum())
print("총 검사자 수", dataset['TestsPerformed'].sum())
print("총 사망자 수", dataset['Deaths'].sum())
print("총 회복자 수", dataset['Recovered'].sum())

총 감염자 수 103062445
총 검사자 수 1267114790.0
총 사망자 수 8886032
총 회복자 수 56279239

In [13]:
dataset.isnull().sum()

SNo                             0
Date                            0
Country                         0
RegionCode                      0
RegionName                      0
Latitude                        0
Longitude                       0
HospitalizedPatients            0
IntensiveCarePatients           0
TotalHospitalizedPatients       0
HomeConfinement                 0
CurrentPositiveCases            0
NewPositiveCases                0
Recovered                       0
Deaths                          0
TotalPositiveCases              0
TestsPerformed               1155
dtype: int64

In [14]:
print(dataset['TestsPerformed'].corr(dataset['TotalPositiveCases']))
print(dataset['Deaths'].corr(dataset['TotalPositiveCases']))
print(dataset['CurrentPositiveCases'].corr(dataset['TotalPositiveCases']))
print(dataset['NewPositiveCases'].corr(dataset['TotalPositiveCases']))
print(dataset['Recovered'].corr(dataset['TotalPositiveCases']))

0.8722532022962405